# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv/
venv/
env/
build/
dist/

# VSCode / PyCharm
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

/data
/dataset
/unused
/backend/model.pt
/backend/uploads
/backend/labels